@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	font-family: DMSans;
	background-color: #eaeefe;
	overflow-x: hidden;
}

body::-webkit-scrollbar {
	width: 0;
}

@font-face {
	src: url("../font/DMSans.ttf");
	font-family: DMSans;
}

@layer utilities {
	.heading {
		@apply text-[72px] lg:text-[60px] md:text-[50px] sm:text-[35px] xm:text-[35px];
	}
	.paragraph {
		@apply text-[20px] lg:text-[18px] md:text-[17px] sm:text-[16px] xm:text-[16px];
	}
	.padding-x {
		@apply px-[70px] lg:px-[50px] md:px-[40px] sm:px-[20px] xm:px-[20px];
	}
}

/*carossel:*/

/*
#slide-3{
 background-image: linear-gradient(rgba(0,0,0,0), rgba(0, 15, 25, 0.978)),  url(/bg3.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position:center center;
background-position-y: 0px; 

}*/


/*****************************/

.transicao{
  transition: all 1s ease; /* Aplica transição lenta em todos os estilos */
  position: relative; 
}

.hide {
  opacity: 0;
  transform: translateY(50px); /* começa mais embaixo */
  transition: opacity 2s ease, transform 2s ease;
}

.show {
  opacity: 1;
  transform: translateY(0); /* sobe para posição normal */
}



.inputError{
  border-color: red; /* borda vermelha ao focar */
  box-shadow: 0 0 5px red;
}

